<a href="https://colab.research.google.com/github/kiradoll/pythonbasicclass/blob/main/PythonBasicclassDay7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
chr(48)

'0'

In [2]:
chr(65)

'A'

In [3]:
ord('A')

65

In [5]:
for item in enumerate(['가위','바위','보']):
  print(item)

(0, '가위')
(1, '바위')
(2, '보')

In [6]:
for idx, item in enumerate(['가위','바위','보']):
  print(idx+1, item)

1 가위
2 바위
3 보

In [7]:
# page 164 Method

name = input('이름을 입력하세요 >>> ')

list = []

list.append(name)

print(list)

이름을 입력하세요 >>> 박신애
['박신애']

In [8]:
s = '내가 그린 기린 그림은 목 긴 기린 그림이고, 네가 그린 기린 그림은 목 짧은 기린 그림이다.'
s.count('기린')

4

In [9]:
s = 'best of best'
s.count('best', 5)

1

In [10]:
s = 'Life is to short'

s.split()

['Life', 'is', 'to', 'short']

In [11]:
s = '010-1234-5678'

s.split('-')

['010', '1234', '5678']

In [12]:
s = '제임스,25,남,서울'
s.split(',')

['제임스', '25', '남', '서울']

In [13]:
ques = input('이름과 나이를 함께 입력하세요(예 : 홍길동 26')
ques.split()

이름과 나이를 함께 입력하세요(예 : 홍길동 26홍길동 26

['홍길동', '26']

In [ ]:
# 사용자 정의 함수 - 사용자가 직접 만든 함수
# 입력 input
# 출력 output

# 1. 입력이 있고 리턴이 있는 함수
# 2. 입력이 있고 리턴은 없는 함수
# 3. 입력이 없고 리턴은 있는 함수
# 4. 입력도 없고 리턴도 없는 함수

          # def 함수이름(매개변수):
          # 본문
          # return 반환값

In [16]:
# 입력도 없고 리턴도 없는 함수

def welcome():
  print('Hello python')
  print('Nice to  meet you')

welcome()

Hello python
Nice to meet you

In [18]:
# 입력은 있고 리턴은 없는 함수

def introduce(name, age):
  print(f'내 이름은 {name}이고, 나이는 {age}입니다.')

introduce('james', 25)
introduce('andy', 22)

내 이름은 james이고, 나이는 25입니다.
내 이름은 andy이고, 나이는 22입니다.

In [20]:
def show(*items):
  for item in items:
    print(item)

show('python')
show('happy','birthday')

python
happy
birthday

In [23]:

def addsum(*args):
  sum = 0
  for arg in args:
    sum = sum + arg
  print(sum)

def addsum2(a,b):
  print(a+b)

def addsum3(a,b,c):
  print(a+b+c)

addsum(1,2)
addsum(1,2,3,4)

3
10

In [24]:
# 가변 매개변수

def greet(message = '안녕하세요'):
  print(message)

greet('반갑습니다.')
greet()

반갑습니다.
안녕하세요

In [26]:
# 디폴트 매개변수는 마지막에 위치시킨다.

def greet(name, message = '안녕하세요'):
  print(f'{name}님 {message}')

greet('김철수')

김철수님 안녕하세요

In [27]:
# 입력이 없고 리턴이 있는 함수

def address():
  str = '우편번호 12345\n'
  str += '서울시 영등포구 여의도동'
  return str

print(address())

우편번호 12345
서울시 영등포구 여의도동

In [28]:
def address():
  str = '우편번호 12345\n'
  str += '서울시 영등포구 여의도동'
  print(str)

address()

우편번호 12345
서울시 영등포구 여의도동

In [31]:
def calculator(*args):
  return sum(args), sum(args)/len(args), max(args), min(args)

a,b,c,d = calculator(1,2,3,4,5)
print(a)
print(b)
print(c)
print(d)

15
3.0
5
1

In [34]:
def charge(energy):
  if energy < 0:
    print('0보다 작은 에너지는 충전할 수 없습니다.')
    return
  print('에너지가 충전되었습니다.')  

charge(-1)

0보다 작은 에너지는 충전할 수 없습니다.

In [37]:
# local variable & global variable

# local variable 지역 변수

def f():
  a = 10
  print(f'내부 : {a}')

f()

print(f'외부 : {a}')

내부 : 10
외부 : 15

In [39]:
# global variable  전역 변수

b = 10

def f():
  print(f'내부 : {b}')

f()

print(f'외부 : {b}')

내부 : 10
외부 : 10

In [41]:
a = 0

def f():
  global a
  a = 10
  print(a)

f()

print(a)

10
10

In [46]:
# 1

def vending_machine(money):
  price = 700    # 700, 1400, 2100, 2800

  for i in range((money // price)+1):
    coin = money - price * i
    print(f'음료수 = {i}개, 잔돈 = {coin}원')

vending_machine(3000)

음료수 = 0개, 잔돈 = 3000원
음료수 = 1개, 잔돈 = 2300원
음료수 = 2개, 잔돈 = 1600원
음료수 = 3개, 잔돈 = 900원
음료수 = 4개, 잔돈 = 200원

In [49]:
# 2

def get_average(marks):
  sum = 0
  for i in marks:
    sum += marks[i]
  return sum/len(marks)


marks = {'국어':90, '영어':80, '수학':85}
average = get_average(marks)
print(f'평균은 {average}입니다.')

평균은 85.0입니다.

In [55]:
# 3

total = 0
def gift(dic,who,money):
  global total
  total += money
  dic[who] = money

wedding = {}
gift(wedding, '영희', 5)
gift(wedding, '철수', 3)
gift(wedding, '이모', 10)

print(f'축의금 명단:{wedding}')
print(f'전체 축의금:{total}')

축의금 명단:{'영희': 5, '철수': 3, '이모': 10}
전체 축의금:18

In [ ]:
# 모듈과 임포트

# 모듈 : 재사용이 가능하도록 변수, 함수, 클래스 등을 모아놓은 .py