<a href="https://colab.research.google.com/github/kiradoll/pythonbasicclass/blob/main/PythonBasicclassDay7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
chr(48)

'0'

In [2]:
chr(65)

'A'

In [3]:
ord('A')

65

In [5]:
for item in enumerate(['가위','바위','보']):
  print(item)

(0, '가위')
(1, '바위')
(2, '보')

In [6]:
for idx, item in enumerate(['가위','바위','보']):
  print(idx+1, item)

1 가위
2 바위
3 보

In [7]:
# page 164 Method

name = input('이름을 입력하세요 >>> ')

list = []

list.append(name)

print(list)

이름을 입력하세요 >>> 박신애
['박신애']

In [8]:
s = '내가 그린 기린 그림은 목 긴 기린 그림이고, 네가 그린 기린 그림은 목 짧은 기린 그림이다.'
s.count('기린')

4

In [9]:
s = 'best of best'
s.count('best', 5)

1

In [10]:
s = 'Life is to short'

s.split()

['Life', 'is', 'to', 'short']

In [11]:
s = '010-1234-5678'

s.split('-')

['010', '1234', '5678']

In [12]:
s = '제임스,25,남,서울'
s.split(',')

['제임스', '25', '남', '서울']

In [13]:
ques = input('이름과 나이를 함께 입력하세요(예 : 홍길동 26')
ques.split()

이름과 나이를 함께 입력하세요(예 : 홍길동 26홍길동 26

['홍길동', '26']

In [ ]:
# 사용자 정의 함수 - 사용자가 직접 만든 함수
# 입력 input
# 출력 output

# 1. 입력이 있고 리턴이 있는 함수
# 2. 입력이 있고 리턴은 없는 함수
# 3. 입력이 없고 리턴은 있는 함수
# 4. 입력도 없고 리턴도 없는 함수

          # def 함수이름(매개변수):
          # 본문
          # return 반환값

In [16]:
# 입력도 없고 리턴도 없는 함수

def welcome():
  print('Hello python')
  print('Nice to  meet you')

welcome()

Hello python
Nice to meet you