<a href="https://colab.research.google.com/github/kiradoll/pythonbasicclass/blob/main/Python_Basic_Class_Day9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
# 클래스  class  객체 object
# c언어에는 클래스가 없다 <- 클래스가 필수는 아니다.

In [19]:
result1 = 0

def add1(num):
  global result1  # 전역변수
  result1 += num
  return result1


result2 = 0

def add2(num):
  global result2  # 전역변수
  result2 += num
  return result2

print(add1(3))
print(add1(4))

print(add2(3))
print(add2(4))

3
7
3
7

In [8]:
print(add1(3))
print(add2(5))

10
12

In [12]:
class Calculator:
  def __init__(self):    # __init__ 생성자는 객체를 생성할 때 자동으로 호출
    self.result = 0
  def add(self, num):    # self는 호출한 그 객체를 말한다.
    self.result += num
    return self.result    # self는 호출한 그 객체를 말한다.

cal1 = Calculator()
cal2 = Calculator()

In [14]:
cal1.add(2)

7

In [18]:
cal2.add(5)

13

In [33]:
class FourCal:
  def setdata(self, first, second):  # self = a(객체의 이름), first = 4, second = 2
    self.first = first   # a.first = 4
    self.second = second  # a.second = 2

In [35]:
a = FourCal()
b = FourCal()

In [36]:
a.setdata(4,2)
b.setdata(3,5)

In [37]:
print(a.first)
print(a.second)
print(b.first)
print(b.second)

4
2
3
5

In [41]:
class FourCal:
  def setdata(self, first, second):   #self = a(객체의 이름), first = 4, second = 2
    self.first = first   # a.first = 4
    self.second =second   # a.second = 2

  def add(self):
    result = self.first + self.second
    return result

In [42]:
a = FourCal()
a.setdata(4,2)
print(a.first)
print(a.second)

4
2

In [43]:
print(a.add())

6

In [44]:
b = FourCal()
b.setdata(3,5)
print(b.first)
print(b.second)
print(b.add())

3
5
8