<a href="https://colab.research.google.com/github/kiradoll/pythonbasicclass/blob/main/Python_Basicclass_Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# input() 함수를 사용할 때 주의할 점
# input()은 모든 입력을 str(문자열)로 인식한다.
# 따라서

In [1]:
n = int(input('정수를 입력하세요>>>')) #형변환이 필요하다. casting
print(type(n))

정수를 입력하세요>>>1
<class 'int'>

In [2]:
price = 5000
n= int(input('할부 개월 입력 >>>'))
print('매달 내는 돈은 {}입니다.'.format(price/n))

할부 개월 입력 >>>3
매달 내는 돈은 1666.6666666666667입니다.

In [5]:
#1

n1 = float(input('첫 번째 실수를 입력하세요>>>'))
n2 = float(input('두 번째 실수를 입력하세요>>>'))

print(f'{n1}와{n2}의 합은 {n1+n2}입니다.')

첫 번째 실수를 입력하세요>>>1.23
두 번째 실수를 입력하세요>>>2.34
1.23와2.34의 합은 3.57입니다.

In [12]:
#3
english_dict = {
    'flower':'꽃',
    'fly':'날다',
    'floor':'바닥'
}

word = input('영어 단어를 입력하세요>>>')
print(f'{word} : {english_dict[word]}')

영어 단어를 입력하세요>>>flower
flower : 꽃

In [19]:
# 복합 대입 연산자
a = 1
print(a)

# a = a+1    # 자기 자신에 1을 증가
a += 1       # 자기 자신에 1을 증가  
print(a)
a += 1
print(a)
a = a-1     # 자기 자신에 1을 감소
print(a)    # 자기 자신에 1을 감소
a -= 1
print(a)

1
2
3
2
1

In [21]:
a, b = 10, 20
print('a = %d, b = %d' %(a,b))

a, b = b,a
print('a = %d, b = %d' %(a,b))

a = 10, b = 20
a = 20, b = 10

In [22]:
a = 10
b = 20

t = a
a = b
b = t
print('a = %d, b = %d' %(a,b))

a = 20, b = 10

In [23]:
1 == 1

True

In [24]:
1 != 1

False

In [26]:
# 시퀀스 연산자 : 순서가 있는 구조 시퀀스(리스트, 튜플, 문자열, range) 에서 사용된다.

[1,3,5] + [2,4,6]

[1, 3, 5, 2, 4, 6]

In [27]:
'hello' + ' ' + 'python'

'hello python'

In [28]:
[1,3,5] * 2

[1, 3, 5, 1, 3, 5]

In [31]:
'-' * 50

'--------------------------------------------------'

In [32]:
# 멤버쉽 연산자
5 in [1,2,3,4,5]

True

In [33]:
5 not in [1,2,3,4,5]

False

In [35]:
'a' in 'apple'

True

In [36]:
'a' in {'a':'apple', 'b':'banana'}

True

In [37]:
# 응용예제 p85

# 1
no = input('10~99사이의 정수를 입력하세요 >>>')

print(f'십의 자리 : {no[0]}')
print(f'일의 자리 : {no[1]}')

10~99사이의 정수를 입력하세요 >>>45
십의 자리 : 4
일의 자리 : 5

In [38]:
no = int(input('10~99사이의 정수를 입력하세요 >>>'))

print(f'십의 자리 : {no//10}')
print(f'일의 자리 : {no%10}')

10~99사이의 정수를 입력하세요 >>>45
십의 자리 : 4
일의 자리 : 5

In [47]:
# 2

cho = int(input('초를 입력하세요 >>>'))

print(f'변환 결과는 {cho//3600}시간{cho%3600//60}분{cho%60}초 입니다.')

cho = 3690
# 1시간 = 60분 = 1 * 60 * 60 초 = 3600초
hour = cho // 3600  # 1시간
minute = cho % 3600 // 60  # 1분
second = cho % 60  # 초

초를 입력하세요 >>>3690
변환 결과는 1시간1분30초 입니다.

In [54]:
# 3
no = int(input('4자리 사원번호를 입력하세요>>>'))
no_1 = no % 10

if no_1>=5:
  print('근무 시간은 오전입니다.')
else:
  print('근무 시간은 오후입니다.')

4자리 사원번호를 입력하세요>>>1255
근무 시간은 오전입니다.

In [55]:
# 조건문 IF
# 조건문은 특정 조건을 만족하는지의 여부에 따라 실행되는 코드가 달라져야 할 때 사용

a = 0

if a>0:
  print('양수')